/* Navegação suave */
html {
  scroll-behavior: smooth;
}

section[id] {
  padding-top: 6rem;
  margin-top: -6rem;
}

/* Estilos do Jogo */
#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#game {
  display: grid;
  grid-template-columns: repeat(5, 50px); /* 5 colunas */
  grid-template-rows: repeat(3, 50px); /* 3 linhas */
  gap: 5px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  user-select: none;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.tile[data-color="red"] {
  background-color: #ff6b6b;
}
.tile[data-color="blue"] {
  background-color: #4dabf7;
}
.tile[data-color="green"] {
  background-color: #69db7c;
}
.tile[data-color="yellow"] {
  background-color: #ffd43b;
}
.tile[data-color="purple"] {
  background-color: #cc5de8;
}

.tile.selected {
  transform: scale(1.1); /* Efeito de zoom */
  border-color: #000; /* Borda mais escura */
}

.tile.removed {
  opacity: 0;
  pointer-events: none;
}

.arrow-glow {
  animation: blinkGlow 1s infinite;
  filter: drop-shadow(0 0 4px #3b82f6);
}
@keyframes blinkGlow {
  0%,
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 4px #3b82f6);
  }
  50% {
    opacity: 0.5;
    filter: drop-shadow(0 0 8px #3b82f6);
  }
}
